In [5]:
import pandas as pd

In [9]:
df1 = pd.read_excel(r"C:\Users\Ifeoluwa\Downloads\spin the bill.xlsx")
df1

         MSISDN
0    8064999802
1    8086265540
2    8151252716
3    8038306658
4    9014205371
..          ...
137  9033252416
138  8062275400
139  8103321073
140  8169931515
141  8122071493

[142 rows x 1 columns]

In [13]:
df2 = pd.read_csv(r"C:\Users\Ifeoluwa\Downloads\wema number.csv")
df2

,id,merchant_id,msisdn,network,lookup_response,source,created_at,updated_at,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,54364906.0,315518.0,7.011594e+09,AIRTEL,NaN,ICN,13/06/2022 19:25,13/06/2022 19:25,NaN,NaN,NaN,NaN,NaN
1,18628894.0,304555.0,7.014635e+09,AIRTEL,NaN,ICN,06/12/2020 17:41,10/12/2022 07:23,NaN,NaN,NaN,NaN,NaN
2,155263292.0,13391.0,7.019924e+09,AIRTEL,NaN,NaN,11/05/2020 07:28,10/12/2022 02:02,NaN,NaN,NaN,NaN,NaN
3,170313.0,124764.0,7.025202e+09,MTN,NaN,ICN,11/05/2023 21:39,11/05/2023 21:39,NaN,NaN,NaN,NaN,NaN
4,468506632.0,304555.0,7.025696e+09,MTN,NaN,ICN,29/11/2023 14:04,29/11/2023 14:04,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,531795452.0,304555.0,9.164549e+09,MTN,NaN,ICN,07/10/2025 17:28,07/10/2025 17:28,NaN,NaN,NaN,NaN,NaN
138,227492066.0,304555.0,9.165434e+09,MTN,NaN,ICN,01/05/2022 12:31,01/05/2022 12:31,NaN,NaN,NaN,NaN,NaN
139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
wema_